{{#each itemController='flickr/item-controller'}}
	<ul id='flickr-list'>
	    <li>
		{{#link-to 'flickr.active' id}}{{title}}{{/link-to}} 
	    </li>
	</ul>

	<ul {{bind-attr id=id}}>
	    {{#each brands}}
	    <li>
	    {{#link-to 'flickr.search' brand}}{{title}}{{/link-to}}
	    </li>
	    {{/each}}
	</ul>
	<url {{bind-attr id=id}}>
	{{#each images}}
		<li><img class="result" {{bind-attr src=src}}></li>
	{{/each}}
	</ul>
{{/each}}
