<div class="row">
  <div class="col-xs-6 col-sm-2">
	<ul id='flickr-list'>
	{{#each itemController='flickr/item-controller'}}
		<li>
			{{#link-to 'flickr.active' id}}{{title}}{{/link-to}} 
		</li>
	{{/each}}
	</ul>
  </div>
  <div class="col-xs-6 col-sm-3">
	<ul id="brands">
	{{#each itemController='flickr/item-controller'}}
		    {{#each brands}}
		    <li {{bind-attr class="brand"}}>
		    {{#link-to 'flickr.search' brand}}{{title}}{{/link-to}}
		    </li>
		    {{/each}}

	{{/each}}
	</ul>
  </div>
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-6 col-sm-7" id="images">
	{{#each itemController='flickr/item-controller'}}
	{{#if current}}
		<div class="pagnation text-center"> 
		{{#if prev}}{{#link-to 'flickr.completed' id prev}}<span class="glyphicon glyphicon-chevron-left"></span>{{/link-to}}{{/if}}
		    {{current}} / {{pages}} 
		{{#if next}}{{#link-to 'flickr.completed' id next}}<span class="glyphicon glyphicon-chevron-right"></span>{{/link-to}}{{/if}}
		</div>
	{{/if}}
	<div class="row">
		{{#each images}}
		<div class="col-xs-8 col-sm-3 image">
			<img class="result" {{bind-attr src=src}}>
		</div>
		{{/each}}
	</div>
	{{/each}}
  </div>
</div>



